version: '3.8'
services:
  postgres-db:
    image: postgres:15
    container_name: postgres-db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "123"
      POSTGRES_DB: userChat
    restart: always

  mongo-db:
    image: mongo:latest
    container_name: mongo-db
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: userChat
    restart: always

  redis:
    image: redis:alpine
    container_name: redis-cache
    ports:
      - "6379:6379"
    restart: always

  rabbitmq:
    image: rabbitmq:3.11-management
    container_name: chat_rabbitmq
    ports:
      - "5672:5672"   # Cổng cho Java App kết nối
      - "15672:15672" # Cổng trang quản lý (Web Admin)
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - chat-network

  # --- QUAN TRỌNG: PHẦN ĐỊNH NGHĨA MẠNG VÀ VOLUME ---
networks:
  chat-network:
    driver: bridge

volumes:
  postgres_data:
  mongo_data: